/* 
 * Geomicons Open
 *
 * http://jxnblk.github.io/geomicons-open
 * Base icon styles
 *
 */


/* 1. Setting width and height to 1em allows sizing based
 *    on a type scale
 * 2. This setting works well when icon and type are the same font-size.
 *    To adjust for other cases, I'd suggest creating an extension.
 */

.geomicon {
  width: 1em; /* 1 */
  height: 1em;
  vertical-align: -0.125em; /* 2 */
}


/* Alternatively, you can set custom sizes
 */
.geomicon-big  { width: 8rem; height: 8rem; }
.geomicon-huge { width: 16rem; height: 16rem; }


/* Example SVG Skins
 * Replace with styles that match your color scheme
 */

.fill-white { fill: #fff; }
.fill-dark  { fill: #333; }
.fill-blue  { fill: #0cf; }


