// Grid

.container {
  max-width: $max-width;
  margin-right: auto;
  margin-left: auto;
}

// Mobile grid
.mobile-grid {
  float: left;
  margin-left: $gutter*2;
  &:first-child { margin-left: 0; }
}

@for $i from 1 through 11 {
  .mobile-grid-#{$i} {
    width: percentage($i/12) - ($gutter * 2) + ($gutter * 2 * $i / 12);
  }
}

// Desktop grid
@media screen and (min-width: $bp1) {
  .grid, .mobile-grid {
    float: left;
    margin-left: $gutter;
    &:first-child { margin-left: 0; }
  }

  @for $i from 1 through 11 {
    .grid-#{$i}, .mobile-grid-#{$i} {
      width: percentage($i/12) - $gutter + ($gutter * $i / 12);
    }
    @if ($i < $pre-post-max + 1) and ($i < 12) {
      .grid-pre-#{$i} {
        margin-left: percentage($i/12) + ($gutter * $i / 12) + $gutter;
        &:first-child {
          margin-left: percentage($i/12) + ($gutter * $i / 12);
        }
      }
      .grid-post-#{$i} {
        margin-right: percentage($i/12) + ($gutter * $i / 12);
      }
    }
    @if ($i % 2 == 0 and $i > 3) {
      .centered-grid-#{$i} {
        width: percentage($i/12) - $gutter + ($gutter * $i / 12);
        max-width: (percentage($i/12) - $gutter +($gutter * $i / 12))/100% * $max-width;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
}

