// Tiles


@mixin build-tile($columns) {
  $x: nth($columns, 1);
  @if nth($columns, 1) > 1 {
    float: left;
    margin-left: $gutter;
    @media screen and (max-width: $bp1) {
      width: percentage(1/$x) - $gutter + $gutter / $x;
      &:nth-child(#{$x}n + 1) { margin-left: 0; clear: left; }
    }
  } @else {
    @media screen and (min-width: $bp1) { float: left; margin-left: $gutter; }
  }
  @media screen and (min-width: $bp1) and (max-width: $bp2) {
    $x: nth($columns, 2);
    width: percentage(1/$x) - $gutter + $gutter / $x;
    &:nth-child(#{$x}n + 1) { margin-left: 0; clear: left; }
  }
  @media screen and (min-width: $bp2) and (max-width: $bp3) {
    $x: nth($columns, 3);
    width: percentage(1/$x) - $gutter + $gutter / $x;
    &:nth-child(#{$x}n + 1) { margin-left: 0; clear: left; }
  }
  @media screen and (min-width: $bp3) {
    $x: nth($columns, 4);
    width: percentage(1/$x) - $gutter + $gutter / $x;
    &:nth-child(#{$x}n + 1) { margin-left: 0; clear: left; }
  }
}

.tile-small {
  @include build-tile( (6, 8, 12, 16) );
}

.tile-medium {
  @include build-tile( (4, 6, 6, 8) );
}

//.tile-big {
//  @include build-tile( (1, 2, 3, 4) );
//}

